.insite-snippet {
  text-align: center;
  time {
    color: $medium-gray;
  }
  article {
    text-align: left;
  }
  border-bottom: 3px solid $tertiary-color;
  &:last-of-type {
    border-bottom: none;
  }
}

.ruby .insite-snippet {
  time {
    color: $snow;
  }
}
