blockquote, blockquote p {
  font-size: $paragraph-font-size;
}

pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: $light-gray;
  border-radius: $global-radius;
}

code {
  font-weight: normal;
}

footer.light-gray {
  p {
    text-align: left;
  }
}
