<% wrap_layout :layout do %>

<header id="blog" class="light-gray">
  <div class="page-title">
    <h1><%= current_page.data.title %></h1>
    <h3 class="subheader">Subheader</h3>
  </div>
</header>

<section class="white">
  <div class="narrow-container">
    <%= yield %>
  </div>  
</section>

<% end %>
