---
title: Google's Challenger
---

<header id="blog" class="light-gray">
  <div class="page-title">
    <h1>Google&#8217;s Challenger</h1>
    <h3 class="subheader">Written by Benjamin Patch<br>
    December 16, 2014</h3>
  </div>
</header>

<section class="white">
  <div class="narrow-container">

<h2>Background</h2>

<p>Since Edward Snowden exposed the NSA&#8217;s mass electronic surveillance programs in 2013, private sector tech companies have received more scrutiny over the handling of your personal data than ever before. Advertising platforms such as Google and Facebook collect as much data as we are willing to submit, then they use our data to deliver targeted ads for profit.</p>

<p>This type of business activity is electronic espionage, which is why a public/private partnership with an unrestrained NSA is such a serious issue. Whether the private sector came about this partnership willingly or not is beyond the scope of this article. Either way, I am appalled that without the slightest hint of probable cause, the United States has turned its vast intelligence apparatus against a large portion of its own citizens.</p>

<h2>DuckDuckGo</h2>

<p>The point of that set up was to better understand the serious threat Google faces from a rising competitor, which calls itself <a href="https://duckduckgo.com" target="_blank">DuckDuckGo</a>. Because search history is so personal, in 2009 (4 years before Snowden exposed the NSA) DuckDuckGo stopped collecting personal information about its users. Google, on the other hand, records every search query you have ever made. Even if you don&#8217;t have a Google account, your computer&#8217;s IP address becomes associated with your searches.</p>

<p>Google says they do this to deliver the search results you want, but the truth is it&#8217;s all about serving targeted ads, which are the financial backbone of the company. DuckDuckGo does include ads in search results, but they are only based on the current search query. DuckDuckGo claims no search history is recorded and I have seen no credible evidence to the contrary. That matters because even if the NSA forcefully breaks into DuckDuckGo&#8217;s servers, there will be no personal information to mine.</p>

<%= image_tag("blog/2014/12/duckduckgo.png",
alt: "DuckDuckGo") %>

<p>I believe it is a safe bet that during 2015, as more people become aware of DuckDuckGo, the search engine will gain market share at Google&#8217;s expense. DuckDuckGo now ships as an alternative search engine with every major web browser except Chrome and Internet Explorer, which is no surprise because both Google and Microsoft (via Bing, Yahoo and Facebook) profit from mining your personal data.</p>

<h2>Google&#8217;s Reaction</h2>

<p>Now, the interesting part will be Google&#8217;s reaction to the reduction in market share. For as long as possible, Google will publicly ignore DuckDuckGo. Then, I believe sometime in 2015, Google will attempt to to counter their critics by quietly adding DuckDuckGo as an alternative search engine in Chrome. Google will, of course, still be the default search engine, as it is in all other browsers that currently offer DuckDuckGo as an alternative.</p>

<p>(web browser icons, noting which have DDG preloaded)</p>

<p>In conclusion, by the end of 2015, DuckDuckGo will gain market share but not enough to do any serious damage to Google&#8217;s business model. Therefore, Google will make no serious changes to their data collection policies. Now looking ahead to 2016&#8211;17, it all depends on the public&#8217;s perception of Google and its business practices. Want to send Google a message? Give <a href="https://duckduckgo.com" target="_blank">DuckDuckGo</a> a try. If you like it, keep using it. Personally, I love it!</p>

<p>If you have any questions or comments about this opinion piece, I can be reached directly on Twitter <a href="https://twitter.com/BenjaminPatch" target="_blank">@BenjaminPatch</a>. Just remember, anything you post online is permanently recorded in someone&#8217;s database.</p>

  </div>
</section>
