---
title: Contact
description: Our phone number is 888-502-8212. Use these forms to email us or subscribe to our newsletter. Business hours are 8am to 5pm (central) Monday – Friday.
---

<header id="contact" class="light-gray">
  <div class="page-title">
    <h1>Contact</h1>
    <h3 class="subheader">Connect with Cascading Media.</h3>
  </div>
</header>

<section class="ruby text-center"><div class="container">

<h2>888&#8211;502&#8211;8212</h2>

<p>Our normal business hours are 8am to 5pm (central) Monday &#8211; Friday, excluding US holidays.</p>

<h3>Cascading Media<br> 6666 Odana Road #172<br> Madison, Wisconsin 53719</h3>

</div></section><section class="white"><div class="narrow-container">

<h2>Email Cascading Media</h2>
<p>We normally reply to inquires within two business days.</p>

<!--[if lte IE 8]>
  <p class="browse-happy">This contact form will not work with your web browser. Please <a href="http://browsehappy.com/" target="_blank">update to a modern browser</a> for a better experience on this site and across the web. Thank you.</p>
<![endif]-->

<form id="contact_form">

  <label for="name">Name</label>
  <input id="name" type="text" placeholder="Your Name" required="">

  <label for="email">Email</label>
  <input id="email" type="email" placeholder="your.name@example.com" required="">
  
  <label for="msg">Message</label>
  <textarea id="msg" cols="6" rows="6" placeholder="How can we help you?"></textarea>

  <button id="submit" class="button">Send Message</button>

</form>

</div></section><section class="ruby"><div class="narrow-container">

<h2>Free Email Newsletter</h2>

<p>Cascading Media&#8217;s newsletter is filled with helpful website advice, industry insights and special offers. We promise never to sell your information or spam you. Subscribe and you will be added to our mailing list. If you would ever like to remove yourself from the mailing list, every email includes a simple unsubscribe option.</p>

<!-- Begin MailChimp Signup Form -->
<form action="//cascadingmedia.us6.list-manage.com/subscribe/post?u=efb8791b5d2770ce78577ff46&amp;id=52c8c7c5f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
  <label for="mce-EMAIL">Email Address</label>
  <input type="email" value="" name="EMAIL" class="required" id="mce-EMAIL" placeholder="your.name@example.com">

  <label for="mce-FNAME">First Name</label>
  <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="Your First Name">

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_efb8791b5d2770ce78577ff46_52c8c7c5f4" tabindex="-1" value=""></div>
    
  <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>

</form>
<!--End mc_embed_signup-->

</div></section>
