---
title: Web Technologies
description: Cascading Media employs the most leading-edge web technologies like HTML5, CSS3, jQuery, Ruby, PostgreSQL, Web Fonts, SVG and Retina images.
---

<header id="story" class="light-gray">
  <div class="page-title">
    <h1>Web Technologies</h1>
    <h3 class="subheader">Leading-edge, front to back.</h3>
  </div>
</header>

<section class="ruby"><div class="container">

  <h2>Open Platform</h2>

  <p>The web is a truly open platform that no single corporation or even country controls. While there are widely accepted standards put in place by the <a href="http://www.w3.org/standards/webdesign/" target="_blank">W3C (World Wide Web Consortium)</a> there are still a vast number of technical decisions that need to be made by the developer(s) of any web project.</p>

  <p>Over the next few years, the web will become more capable, look better and load even faster than it does today. A website or application is a significant investment and like any good investment, it should grow in value over time. This is why Cascading Media is very forward thinking when it comes to choosing web technologies.</p>

</div></section><section id="terminology" class="white"><div class="container">

  <h2>Terminology</h2>

  <p>This section contains a brief overview of four pieces of terminology we use everyday in our work. They are key to understanding how the web technologies we use relate to one another.</p>

  <div class="copy-container">
    <h3>Front-end &amp; Back-end</h3>
    <p>A website&#8217;s front-end refers to code rendered by the user&#8217;s web browser (or other software) on their local device. This is opposed to a website&#8217;s back-end, which refers to code executed on the remote server(s) that host all of the application&#8217;s assets.</p>
  </div>

  <div class="copy-container">
    <h3>Site &amp; Application</h3>
    <p>Cascading Media uses the term <em>Site</em> when back-end code is not required and <em>Application</em> when back-end code is required. This distinction is important because each are used for different purposes as explained on our <a href="/services">Services</a> page.</p>
  </div>

</div></section><section id="html5" class="ruby"><div class="container">

  <%= image_tag("technologies/html5.svg", 
  alt: "HTML5 logo") %>

  <h2>HTML5 Front-end</h2>

  <p>
    Cascading Media employs nothing less than the most advanced front-end standards
    such as HTML5, Sass (CSS3)
    and the ES6 (ECMAScript 6) implementation of JavaScript
    for all sites and web applications we build.
    We leverage only the best front-end code libraries like
    Bourbon, Modernizr and jQuery
    to build fully custom websites
    that work great across all major desktop browsers,
    tablet computers
    and smart phones.
  </p>

  <p>
    We are asked about Adobe Flash from time to time
    and our policy is simple &#8211;
    Flash has no business on modern websites
    due to its poor compatibility with mobile devices,
    various security issues
    and the fact it has been rendered obsolete
    by HTML5 and related technologies.
  </p>

</div></section><section id="ruby" class="white"><div class="container">

  <%= image_tag("technologies/ruby.svg", 
  alt: "Ruby gemstone") %>

  <h2>Ruby Back-end</h2>

  <p>
    For applications that require dynamic web pages and database interactions,
    Cascading Media&#8217;s programing language of choice is
    <a href="https://www.ruby-lang.org" target="_blank">Ruby</a>.
    Ruby is a powerful programming language with a focus on simplicity and productivity.
    It has an elegant syntax that is natural to read and easy to write.
  </p>

  <p>
    Ruby fuels one of the most advanced web application frameworks available,
    Rails &#8211; also know as Ruby on Rails.
    Rails is a full-stack framework capable of creating web applications
    that gather information from a database
    and then render results for users to view and interact with.
    Rails emphasizes the use of well-known software engineering patterns and paradigms 
    such as MVC (Model View Controller),
    Convention over Configuration
    and DRY (Don&#8217;t Repeat Yourself) code.
    In short,
    Rails makes web applications faster to develop and easier to maintain.
  </p>

</div></section><section id="retina" class="ruby"><div class="container">

  <%= image_tag("approach/eye-spectrum.svg", 
  alt: "Human eye surrounded by a full spectrum of color.") %>

  <h2>Retina Images</h2>

  <p>All serious smart phones, tablets and many high-end laptops now have high resolution (High DPI) displays or as Apple likes to call them, Retina displays. It is only a matter of time before manufacturing costs fall and the majority of displays will contain these high pixel densities.</p>

  <p>Standard 72-DPI web images look pixelated and blurry on Retina displays. Cascading Media corrects this problem by employing <a href="https://en.wikipedia.org/wiki/Svg" target="_blank">SVG (Scalable Vector Graphics)</a>, which are resolution independent, wherever possible. SVG has the advantage of looking perfectly sharp and clear on all displays (High DPI or standard) plus they usually load faster than their PNG counterparts. With the exception of photographs, all images on this site are SVG.</p>

  <p>Photographs are raster-based files and cannot be displayed as SVG. To create High DPI photos, specialized styles are written in CSS to effectively double the perceived screen resolution. JavaScript can also be used to swap out images based on pixel density but in most cases, we have found CSS to be more performant. Either way, the end results are sharp, clear photos on Retina displays.</p>

</div></section><section id="typography" class="white"><div class="container">

  <%= image_tag("technologies/typography.svg", 
  alt: "Measurements of the letter A.") %>

  <h2>Modern Typography</h2>

  <p>Just a few short years ago, only a handful of fonts could be used on the web. Now modern browsers and stylesheets offer advanced typography options only previously possible in printed media or by using images. Displaying text as images should be avoided due to its poor search engine performance, large file sizes and general lack of flexibility.</p>

  <p>A great resource for exploring available web fonts is <a href="http://www.google.com/fonts" target="_blank">Google Fonts</a>, a free service providing access to hundreds of open-source fonts that are optimized for the web. If Google Fonts does not have what you are looking for, popular commercial web font services include <a href="http://www.fonts.com" target="_blank">Fonts.com</a>, <a href="http://fontdeck.com" target="_blank">Font Deck</a> and <a href="https://typekit.com" target="_blank">Adobe Typekit</a>.</p>

  <p>Typography may seem like a minor detail, but when done right, it can dramatically improve the legibility and aesthetics of any website. Just as a film score can define the difference between a good movie and a <em>great</em> movie, typography is an aspect of any website that should not be ignored.</p>

</div></section>
