---
title: Webfolio
description: View a few samples from our web design portfolio and learn more about the leading-edge web technologies we work with. Press any image to view in more detail.
---

<header id="approach" class="light-gray">
  <div class="page-title">
    <h1>Webfolio</h1>
    <h3 class="subheader">A few samples from our web design portfolio. 
      <br>Press any image to view in more detail.</h3>
  </div>
<!--[if lte IE 8]>
  <p class="browse-happy">Our webfolio will not work properly with your web browser. Please <a href="http://browsehappy.com/" target="_blank">update to a modern browser</a> for a better experience on this site and across the web. Thank you.</p>
<![endif]-->
</header>

<div class="light-gray">

  <div class="wide-container">

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Preferred Insurance</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/preferred-insurance.png">
              <img class="webfolio-preview-image" 
              data-caption="Responsive layout with resolution independent mountains and navigation buttons that expand and contract to full width of viewport." 
              src="/assets/images/webfolio/preferred-insurance.png">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Responsive layout with resolution independent mountains and navigation buttons that expand and contract to full width of viewport.</p>

        <h4>Technologies</h4>

        <ul>
        <li>HTML5</li>
        <li>Sass (CSS3)</li>
        <li>jQuery</li>
        <li>Web Fonts</li>
        <li>SVG (Scalable Vector Graphics)</li>
        <li>Ruby</li>
        </ul>

      </section>
    </div>

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Affordable Legal Solution</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/affordable-legal-solution.jpg">
              <img class="webfolio-preview-image" 
              data-caption="Responsive layout with background image that creates a horizontal parallax effect when scaled. Subtle logo and button transparency add an organic feel to the digital composition." 
              src="/assets/images/webfolio/affordable-legal-solution.jpg">
            </a>
          </li>
          <li>
            <a href="/assets/images/webfolio/affordable-legal-solution-interior.jpg">
              <img data-caption="Layout for interior pages featuring a simplified header and vertical side navigation to focus attention on the content."
              src="/assets/images/webfolio/affordable-legal-solution-interior.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Responsive layout with background image that creates a horizontal parallax effect when scaled. Subtle logo and button transparency add an organic feel to the digital composition.</p>

        <h4>Technologies</h4>

        <ul>
        <li>HTML5</li>
        <li>Sass (CSS3)</li>
        <li>jQuery</li>
        <li>Web Fonts</li>
        <li>High DPI (retina) background image</li>
        <li>SVG (Scalable Vector Graphics)</li>
        <li>Ruby</li>
        <li>PostgreSQL</li>
        </ul>

      </section>
    </div>

  </div><div class="wide-container">

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Practichem Poppy Product Page</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/practichem-poppy.jpg">
              <img class="webfolio-preview-image" 
              data-caption="Images floating to opposite sides of each section&#8217;s copy. Use of negative space and subtly contrasting background colors visually separate sections from one another." 
              src="/assets/images/webfolio/practichem-poppy.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Images floating to opposite sides of each section&#8217;s copy. Use of negative space and subtly contrasting background colors visually separate sections from one another.</p>

        <h4>Technologies</h4>

        <ul>
        <li>HTML5</li>
        <li>Sass (CSS3)</li>
        <li>jQuery</li>
        <li>High DPI (retina) Images</li>
        <li>SVG (Scalable Vector Graphics)</li>
        <li>Ruby</li>
        <li>PostgreSQL</li>
        </ul>

      </section>
    </div>
    
    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Jayson Jones Bits &amp; Spurs</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/jayson-jones-bits-spurs.jpg">
              <img class="webfolio-preview-image" 
              data-caption="Fixed layout with elaborate styling and heavy use of background images create a highly custom design for Jayson&#8217;s highly custom products." 
              src="/assets/images/webfolio/jayson-jones-bits-spurs.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Fixed layout with elaborate styling and heavy use of background images create a highly custom design for Jayson&#8217;s highly custom products. This design was then integrated into a custom Drupal theme to provide content management capabilities.</p>

        <h4>Technologies</h4>

        <ul>
        <li>XHTML</li>
        <li>CSS 2.1</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>
      
  </div><div class="wide-container">
      
    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>The PreNeed Store</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/pre-need-store.jpg">
              <img class="webfolio-preview-image" 
              data-caption="An open, uncluttered layout invites visitors to browse the store&#8217;s virtual shelves." 
              src="/assets/images/webfolio/pre-need-store.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>The complex nature of this website&#8217;s product categories and pricing options are simplified by an advanced menu system optimized for smart phones, tablet computers and desktop browsers. An open, uncluttered layout invites visitors to browse the store&#8217;s virtual shelves.</p>

        <h4>Technologies</h4>

        <ul>
        <li>HTML5</li>
        <li>Sass (CSS3)</li>
        <li>jQuery</li>
        <li>Web Fonts</li>
        <li>High DPI (retina) Images</li>
        <li>SVG (Scalable Vector Graphics)</li>
        <li>Ruby</li>
        <li>PostgreSQL</li>
        </ul>

      </section>
      </div>

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>D&amp;J Quality Electric</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/dj-quality-electric.jpg">
              <img class="webfolio-preview-image" 
              data-caption="Color palette based on the deep blue and chrome of D&amp;J&#8217;s logo. Integrated video player with custom chrome styling. Rounded corners and depth created with background images as this site was built before such things were possible with CSS3." 
              src="/assets/images/webfolio/dj-quality-electric.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Color palette based on the deep blue and chrome of D&amp;J&#8217;s logo. Integrated video player with custom chrome styling. Rounded corners and depth created with background images as this site was built before such things were possible with CSS3. This design was then integrated into a custom Drupal theme to provide content management capabilities.</p>

        <h4>Technologies</h4>

        <ul>
        <li>XHTML</li>
        <li>CSS 2.1</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>

  </div><div class="wide-container">

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Colorado ResCon</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/colorado-rescon.jpg">
              <img class="webfolio-preview-image"
              src="/assets/images/webfolio/colorado-rescon.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Smooth angles of the full width header and footer frame the content of each page. Navigation is connected to rotating images to the right, which reflect the subject of each page. This design was then integrated into a custom Drupal theme to provide content management capabilities.</p>

        <h4>Technologies</h4>

        <ul>
        <li>XHTML</li>
        <li>CSS 2.1</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>
      
    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Kohr-Patch Wedding</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/kohr-patch-wedding.jpg">
              <img class="webfolio-preview-image" 
              data-caption="Elegant simplicity created with the use of large images generously set apart by negative space and short segments of copy. Intense bursts of fuchsia pink accent important elements. Black image borders provide clean separation from the white background, while not drawing attention away from the image itself." 
              src="/assets/images/webfolio/kohr-patch-wedding.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Elegant simplicity created with the use of large images generously set apart by negative space and short segments of copy. Intense bursts of fuchsia pink accent important elements. Black image borders provide clean separation from the white background, while not drawing attention away from the image itself.</p>

        <h4>Technologies</h4>

        <ul>
        <li>HTML5</li>
        <li>Sass (CSS3)</li>
        <li>jQuery</li>
        <li>High DPI (retina) Images</li>
        <li>Ruby</li>
        </ul>

      </section>
    </div>

  </div><div class="wide-container">

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Just Details Painting</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/just-details-painting.jpg">
              <img class="webfolio-preview-image" 
              data-caption="Fully responsive layout with elaborate background images that adapt to the viewport&#8217;s width. Complete with integrated videos, photo galleries, content management and blogging capabilities." 
              src="/assets/images/webfolio/just-details-painting.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Fully responsive layout with elaborate background images that adapt to the viewport&#8217;s width. Complete with integrated videos, photo galleries, content management and blogging capabilities. This design was then integrated into a custom Drupal theme.</p>

        <h4>Technologies</h4>

        <ul>
        <li>HTML5</li>
        <li>Sass (CSS3)</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>
      
    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>The Colorado Springs Registry</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/colorado-springs-registry.jpg">
              <img class="webfolio-preview-image" 
              data-caption="Flat colored panels contrast with the raised primary content region." 
              src="/assets/images/webfolio/colorado-springs-registry.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Flat colored panels contrast with the raised primary content region. This design was then integrated into a custom Drupal theme to provide membership profiles and content management capabilities.</p>

        <h4>Technologies</h4>

        <ul>
        <li>XHTML</li>
        <li>CSS 2.1</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>

  </div><div class="wide-container">

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Stubby's Dog Wash</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/stubbys-dog-wash.jpg">
              <img class="webfolio-preview-image"
              src="/assets/images/webfolio/stubbys-dog-wash.jpg">
            </a>
          </li>
        </ul>

        <h4>Technologies</h4>

        <ul>
        <li>HTML5</li>
        <li>Sass (CSS3)</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>
      
    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Arctic Spas</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/arctic-spas.jpg">
              <img class="webfolio-preview-image"
              src="/assets/images/webfolio/arctic-spas.jpg">
            </a>
          </li>
        </ul>

        <h4>Technologies</h4>

        <ul>
        <li>XHTML</li>
        <li>CSS 2.1</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>

  </div><div class="wide-container">

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>Levis Consulting</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/levis-consulting.jpg">
              <img class="webfolio-preview-image" 
              src="/assets/images/webfolio/levis-consulting.jpg">
            </a>
          </li>
        </ul>

        <h4>Technologies</h4>

        <ul>
        <li>XHTML</li>
        <li>CSS 2.1</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>

    <div class="webfolio-project-container">
      <section class="webfolio-project">
        <h3>The Family Studio</h3>
        <ul class="clearing-thumbs clearing-feature" data-clearing>
          <li class="clearing-featured-img">
            <a href="/assets/images/webfolio/family-studio.jpg">
              <img class="webfolio-preview-image" 
              data-caption="Dark, minimalist approach focuses attention on the photographer&#8217;s work. Seen here is a three-dimensional carousel displaying featured photographs from each major category of work." 
              src="/assets/images/webfolio/family-studio.jpg">
            </a>
          </li>
        </ul>

        <h4>Design Notes</h4>

        <p>Dark, minimalist approach focuses attention on the photographer&#8217;s work. Seen here is a three-dimensional carousel displaying featured photographs from each major category of work.</p>

        <h4>Technologies</h4>

        <ul>
        <li>XHTML</li>
        <li>CSS 2.1</li>
        <li>jQuery</li>
        <li>PHP</li>
        <li>Drupal</li>
        <li>MySQL</li>
        </ul>

      </section>
    </div>

  </div>

</div>
